[flake8]
extend-select = B9
max-complexity = 10
max-line-length = 88
application-import-names = riweather,tests
per-file-ignores =
    # allow imports to be wonky in __init__.py files
    __init__.py: F401,E402,I
    # allow assert statements in tests, overriding bandit
    tests/*: S101
ignore =
    # allow whitespace before ":" to align with black
    E203,
    # allow line break before binary operator to align with black
    W503,
    # allow calling FTP-related functions, overriding bandit
    S321,
    # allow importing FTP module, overriding bandit
    S402,